<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rise_Wallet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Rise_Wallet.Properties.Settings>
            <setting name="Textbox" serializeAs="String">
                <value>textBox3.Text</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>textBox1.Text</value>
            </setting>
            <setting name="nothing" serializeAs="String">
                <value />
            </setting>
        </Rise_Wallet.Properties.Settings>
    </userSettings>
</configuration>